<div ng-controller="MainCtrl as main">

  <div ng-controller="AuthCtrl as auth">

    <form novalidate class="simple-form" ng-show="auth.cookieAuthComplete && !auth.loggedIn">
      E-mail: <input type="email" ng-model="auth.userCreds.email" /><br />
      Password: <input type="password" ng-model="auth.userCreds.password" /><br />
      <button ng-click="auth.login()">SIGN IN</button>
    </form>

    <button ng-show="auth.loggedIn" ng-click="auth.logout()">SIGN OUT</button>

    <div ng-view ng-show="auth.loggedIn"></div>

  </div>


</div>
