<div ng-controller="HomeCtrl as home">
  <h1>{{home.test}}</h1>

  <form novalidate class="simple-form">
    First Name: <input type="text" ng-model="home.user.first_name" /><br />
    Last Name: <input type="text" ng-model="home.user.last_name" /><br />
    E-mail: <input type="email" ng-model="home.user.email" /><br />
    Password: <input type="password" ng-model="home.user.password" /><br />
    Confirm Password: <input type="password" ng-model="home.user.password_confirmation" /><br />
    <button ng-click="home.sign_up()">SIGNUP</button>
  </form>
</div>
