<!DOCTYPE html>
<html ng-app="dashboardApp">
<head>
  <title>63P Dashboard</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'dashboard' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
