<!DOCTYPE html>
<html ng-app="staffApp">
<head>
  <title>SixtyThird</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'staffApp' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
